.svg-be {
	background: url("sprite.css-2157416b.svg") 99.0530303030303% 29.545454545454547% no-repeat;
}

.svg-be-x {
	width: 32px;
	height: 32px;
}

.svg-close {
	background: url("sprite.css-2157416b.svg") 80.45540796963947% 29.545454545454547% no-repeat;
}

.svg-close-x {
	width: 33px;
	height: 32px;
}

.svg-comp {
	background: url("sprite.css-2157416b.svg") 75.88932806324111% 14.893617021276595% no-repeat;
}

.svg-comp-x {
	width: 54px;
	height: 55px;
}

.svg-img1 {
	background: url("sprite.css-2157416b.svg") 91.96261682242991% 14.714714714714715% no-repeat;
}

.svg-img1-x {
	width: 25px;
	height: 51px;
}

.svg-img2 {
	background: url("sprite.css-2157416b.svg") 96.6355140186916% 14.714714714714715% no-repeat;
}

.svg-img2-x {
	width: 25px;
	height: 51px;
}

.svg-in {
	background: url("sprite.css-2157416b.svg") 72.72727272727273% 40.625% no-repeat;
}

.svg-in-x {
	width: 32px;
	height: 32px;
}

.svg-like {
	background: url("sprite.css-2157416b.svg") 89.55223880597015% 39.50276243093923% no-repeat;
}

.svg-like-x {
	width: 24px;
	height: 22px;
}

.svg-logo {
	background: url("sprite.css-2157416b.svg") 100% 0 no-repeat;
}

.svg-logo-x {
	width: 176px;
	height: 49px;
}

.svg-menu {
	background: url("sprite.css-2157416b.svg") 0 0 no-repeat;
}

.svg-menu-x {
	width: 384px;
	height: 384px;
}

.svg-scroll {
	background: url("sprite.css-2157416b.svg") 73.84615384615384% 30.144927536231883% no-repeat;
}

.svg-scroll-x {
	width: 40px;
	height: 39px;
}

.svg-tel {
	background: url("sprite.css-2157416b.svg") 86.56126482213439% 14.893617021276595% no-repeat;
}

.svg-tel-x {
	width: 54px;
	height: 55px;
}

.svg-tel2 {
	background: url("sprite.css-2157416b.svg") 86.71726755218216% 29.545454545454547% no-repeat;
}

.svg-tel2-x {
	width: 33px;
	height: 32px;
}

.svg-teleg {
	background: url("sprite.css-2157416b.svg") 78.78787878787878% 40.625% no-repeat;
}

.svg-teleg-x {
	width: 32px;
	height: 32px;
}

.svg-toggler {
	background: url("sprite.css-2157416b.svg") 92.97912713472486% 29.545454545454547% no-repeat;
}

.svg-toggler-x {
	width: 33px;
	height: 32px;
}

.svg-viber {
	background: url("sprite.css-2157416b.svg") 84.84848484848484% 40.625% no-repeat;
}

.svg-viber-x {
	width: 32px;
	height: 32px;
}

